[submodule ".registry"]
	path = .registry
	url = https://github.com/hydrogr/hydrogr.r-universe.dev
	branch = HEAD
[submodule "evalhyd"]
	path = evalhyd
	url = https://gitlab.irstea.fr/HYCAR-Hydro/evalhyd/evalhyd-r
	branch = main
